.example-card {
    max-width: 400px;
    padding-top: 50px;
    background-color: azure;
  }
  .example-card1 {
    max-width: 400px;
    padding-top: 50px;
    background-color: aliceblue;
  }
  .example-card2 {
    max-width: 400px;
    padding-top: 50px;
    background-color: aquamarine;
  }
  .example-header-image {
    background-size: cover;
  }